.generalMenu{
    height: 110px;
    line-height: 110px;

    &__List{
        justify-content: space-around ;
        display: flex;
        align-items: center;
    }
    &__Item{
        //cursor: pointer;
    }
    &__Link{
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: black;
    }
    &__List :hover{
        color: #d3995f;
    }
    &__List img{
        //cursor: pointer;
    }
}
